.edit-wrap,
.content-wrap {
    display: flex;
    width: 100%;
    gap: 20px;
}
.Item{
    display: flex;
    gap: 20px;
    padding: 10px 0; 
    border-bottom: 1px solid #eee;
}

.Item.isCompleted{
background-color: #f1f1f1;
}

.edit-wrap input {
    flex: 1;
    border: 1px solid #eee;
    border-radius: 5px;
}

.Item .content{
    flex:1;
}

.Item .date {
    font-size: 14px;
    color: gray;
}
.btn-wrap{
    display: flex;
    gap: 10px;
}

.Item button{
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.updateBtn {
    background-color: rgb(80, 223, 180);
}

.deleteBtn {
    background-color: rgb(255, 121, 112);
}

.Item.isCompleted .content{
    text-decoration: line-through;
    color: gray;
}